.button{
	-fx-background-color: #D0EFB0;
	-fx-font-size: 14px;
	-fx-pref-width: 120.0;
	-fx-pref-height: 20.0;
	-fx-font-family: 'Open Sans';
}

.menuButton {
	-fx-background-color: #D0EFB0;
	-fx-font-size: 20px;
	-fx-pref-width: 150.0;
	-fx-pref-height: 1000px;
	-fx-font-family: 'Open Sans';
}

.innerMenuButton{
	-fx-font-family: 'Open Sans';
	-fx-font-size: 14px;
	-fx-pref-height: 20.0;
}

#mainView{
	-fx-font-family: 'Comfortaa';
}

#singleAccountContainer{
	-fx-font-family: 'Comfortaa';
}

#transactionDetail{
	-fx-font-family:'Comfortaa';
	-fx-padding: 10px;
}

#AccountListcontainer{   
	-fx-background: #EBF2E0;
}

#NewAccountButton{
	-fx-font-size: 14px;
	-fx-pref-width: 120.0;
	-fx-pref-height: 20.0;
}


#transactionAdd{
	-fx-font-family:'Comfortaa';
	-fx-padding: 10.0;
}
#accountAdd{
	-fx-font-family:'Comfortaa';
}

.button:hover{
	-fx-background-color: #F6FDEF;
	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;
}
.transaction-view {
	-fx-pref-height: 20.0;
	-fx-padding: 5.0;
}
.transaction-title {
   -fx-background-color: #D6E4BF;
   -fx-pref-width: 200.0;
   -fx-pref-height: 20.0;
   -fx-padding: 5.0;
}
.transaction-view:hover {
	-fx-background-color: rgba(0,0,0,.05);
}
.transaction-container {
	-fx-background-color: #EBF2E0;
}
.transaction-container-2 {
   -fx-background-color: #F7F9F5;
}
.transaction-list {
	-fx-background-color: transparent;
	-fx-control-inner-background: transparent;
}

.transactionListGrid{
	-fx-background-color: transparent;
}

.text-input, .text-input:focused { -fx-prompt-text-fill:darkgray; }

.detail-pane {
	-fx-padding: 0;
	-fx-background-image: url('melonseed_opac5.png');
	-fx-background-repeat: repeat;
	-fx-background-size: 50 50;
}